* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.hidden {
  display: none;
}

h1 {
  font-weight: 500;
  font-size: 52px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 30px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

form {
  margin-top: 1.5rem;
  text-align: center;
}

input {
  width: 225px;
}

p {
  font-size: 14px;
}

.row {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #3b3b3b;
  margin: 5rem 0;
}

.column {
  width: 375px;
  margin: auto;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #e7d8cf;
  position: relative;
  left: 20px;
  top: 50px;
  z-index: -1;
}

.headings {
  width: fit-content;
  position: relative;
  left: 100px;
  bottom: 70px;
  line-height: 0.5px;
}

.button-container {
  text-align: center;
  padding: 0.5rem;
}

.wotd-button,
.wordlist-button,
.gray-button {
  width: 200px;
  height: 50px;
  background-color: #3b3b3b;
  border: none;
  color: #fff;
}

.gray-button {
  background-color: #e5e5e5;
  color: black;
}

.pink-button {
  background-color: #e7d8cf;
  width: 100px;
  height: 36px;
  border: none;
  margin: 10px;
}

.search-button {
  width: 75px;
  height: 20px;
  background-color: #3b3b3b;
  border: none;
  color: #fff;
}

.nav-bar {
  background-color: #3b3b3b;
  color: #fff;
  height: 50px;
  display: flex;
}

.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
}

.word-container {
  width: 300px;
  margin: auto;
}

.rect-background {
  background-color: #3b3b3b;
  color: #fff;
  height: 150px;
  line-height: 150px;
  text-align: center;
}

.gray-background {
  background-color: #f8f4f4;
  height: 100vh;
  padding: 1.5rem;
  text-align: center;
}

.definition-row {
  background-color: #fff;
  height: 450px;
}

.definition-content {
  text-align: left;
  padding: 1rem;
  background-color: #fff;

  /* border: salmon solid; */
}
