* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.hidden {
  display: none;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 48px;
}

form {
  margin-top: 1.5rem;
  text-align: center;
}

input {
  width: 200px;
  height: 20px;
}

p {
  font-size: 14px;
}

a,
li {
  cursor: pointer;
}

.row {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #3b3b3b;
  margin: 5rem 0;
}

.column {
  width: 375px;
  margin: auto;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #e7d8cf;
  position: relative;
  left: 20px;
  top: 50px;
  z-index: -1;
}

.headings {
  width: fit-content;
  position: relative;
  left: 100px;
  bottom: 70px;
  line-height: 0.5px;
}

.button-container {
  text-align: center;
  padding: 0.5rem;
}

.darkgray-button {
  width: 200px;
  height: 50px;
  background-color: #3b3b3b;
  border: none;
  color: #fff;
  cursor: pointer;
}

.gray-button {
  width: 200px;
  height: 50px;
  background-color: #e5e5e5;
  border: none;
  color: black;
  cursor: pointer;
}

.exit-button {
  background-color: white;
  border: none;
  color: #3b3b3b;
  cursor: pointer;
}

.pink-button {
  background-color: #e7d8cf;
  width: 100px;
  height: 36px;
  border: none;
  margin: 10px;
  cursor: pointer;
}

.search-button {
  width: 75px;
  height: 20px;
  background-color: #3b3b3b;
  border: none;
  color: #fff;
  cursor: pointer;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #3b3b3b;
  color: #fff;
  height: 50px;
  display: flex;
}

.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
}

.word-container {
  width: 300px;
  margin: auto;
}

.rect-background {
  background-color: #3b3b3b;
  color: #fff;
  height: 150px;
  line-height: 150px;
  text-align: center;
}

.gray-background {
  background-color: #f9f9f9;
  height: 100vh;
  padding: 3rem 1.5rem;
  text-align: center;
}

.white-background {
  background-color: #fff;
  min-height: 400px;
  max-height: 400px;
  overflow: auto;
}

.content {
  text-align: left;
  padding: 0.5rem;
  background-color: #fff;
}

.modal-container.display {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-container.hidden {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  width: 350px;
  height: 175px;
  text-align: center;
}

.right {
  display: flex;
  justify-content: flex-end;
}
