* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  color: #3b3b3b;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

input {
  width: 200px;
  height: 22px;
}

a,
li {
  cursor: pointer;
}

.row {
  margin: 5rem 0;
  text-align: center;
}

.column {
  width: 370px;
  margin: auto;
  text-align: left;
}

.circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #e7d8cf;
  position: relative;
  left: 2rem;
  top: 2rem;
  z-index: -1;
}

.headings {
  position: relative;
  width: 290px;
  left: 80px;
  bottom: 70px;
  line-height: 0.5px;
}

.button-container {
  text-align: center;
  padding: 0.5rem;
}

.darkgray-button,
.gray-button,
.exit-button,
.pink-button,
.search-button {
  border: none;
  cursor: pointer;
  width: 200px;
  height: 50px;
}

.darkgray-button {
  background-color: #3b3b3b;
  color: #fff;
}

.gray-button {
  background-color: #e5e5e5;
  color: black;
}

.search-button {
  width: 75px;
  height: 20px;
}

.exit-button {
  width: 20px;
  height: 20px;
  background-color: white;
  color: #3b3b3b;
}

.pink-button {
  background-color: #e7d8cf;
  width: 100px;
  height: 36px;
  margin: 10px;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #3b3b3b;
  color: #fff;
  height: 50px;
  display: flex;
}

.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
}

.word-container {
  width: 300px;
  margin: auto;
}

.rect-background {
  background-color: #3b3b3b;
  color: #fff;
  height: 150px;
  line-height: 150px;
  text-align: center;
}

.gray-background {
  background-color: #f9f9f9;
  height: 100vmax;
  padding: 3rem 1.5rem;
  text-align: center;
}

.white-background {
  background-color: #fff;
  min-height: 400px;
  max-height: 400px;
  overflow: auto;
}

.content {
  text-align: left;
  padding: 0.5rem;
}

.modal-container.display {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-container.hidden {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  width: 350px;
  height: 175px;
  text-align: center;
}

.right {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  input,
  select,
  textarea {
    font-size: 16px;
  }
}
